<head>
    <title>Environment Sensor</title>
    <link rel="stylesheet" href="/environment/styles.css">
    <base target="_parent">
</head>

<div class="topnav">
    <a class="active" href="/environment/index.html">Home</a>
    <a href="/environment/1h.html">1 Hour</a>
    <a href="/environment/1d.html">1 Day</a>
    <a href="/environment/7d.html">7 Days</a>
    <a href="/environment/30d.html">30 Days</a>
    <a href="/environment/360d.html">360 Days</a>
</div>
